pypdf
langchain
langchain-community
langchain-huggingface
sentence-transformers
faiss-cpu
fastapi
uvicorn
python-dotenv
supabase
httpx
requests
firebase-admin
google-cloud-firestore
google-auth
python-multipart
